<script id="view-template" type="text/x-handlebars-template">
<div class="main-header">
	<div class="banner-wrap">
		<iframe class="banner" src="banners/{{banner}}" scrolling="no" name="{{title}} - {{dates}}"></iframe>
		{{#if grandfinal}}
			<img class="grandfinal-image" src='images/trophy.png'>
		{{/if}}
	</div>
	<h3 class="daysleft seasondate lighten-2">{{{daysleft}}}</h3>
	
	<a class="bb-button bb-purple view-stats" title="View statistics"><i class='material-icons'>timeline</i></a>

	{{#if showDetails}}
		<a class="bb-button bb-purple game-details" title="View more detail for day {{gamenumber}}">Day {{gamenumber}} details {{#if inProgress}}(in progress){{/if}}</a>
	{{/if}}
</div>
<div class="body">
	{{#if gamesPlayed}}
		{{> viewListTemplate }}
	{{else}}
		{{> viewListTemplateEmpty }}
	{{/if}}	
</div>
<div class="main-footer">
	<select class="season-selector">
		<option value="" disabled selected>other seasons...</option>
		{{#if isArchive}}
			<option value="current">Current season</option>
		{{/if}}	
		<option value="2016|summer">Summer 2016</option>
	</select>
	{{#if gamesPlayed}}
		<h4 class="lastupdate">Last update: <strong>Day {{gamenumber}}</strong> ({{lastupdate}})</h4>
	{{/if}}	
</div>
</script>

<script id="partial_view-list-template-empty" data-name="viewListTemplateEmpty" type="text/x-handlebars-template">
<div class="no-games-message">
	<h2 class="empty-state-message">No games played</h2>
</div>
</script>

<script id="partial_view-list-template" data-name="viewListTemplate" type="text/x-handlebars-template">
<div class="sort-menu">
	<a class="sort bb-button bb-purple sort-default active" data-sort="default" title="Official score">Score</a>
	<a class="sort bb-button bb-purple" data-sort="averagescore:desc" title="Average points per game">Av pts</a>
	<a class="sort bb-button bb-purple" data-sort="rawscore:desc" title="Score without multipliers or bonuses">Raw score</a>
	<!-- <a class="sort bb-button bb-purple" data-sort="averagerawscore:desc" title="Average points per game without multipliers or bonuses">Av raw points</a> -->
	<a class="sort bb-button bb-purple" data-sort="averagerawandbonus:desc" title="Average raw score plus bonuses">Av raw + bonus</a>
	

</div>
<table class="mainlist-header">
	<thead>
		<tr>
			<th width='35%' title="Player's current rank" class='center'>Player</th>
			<th width='25%' title="Total games played in season" class='center'>Games</th>
			<th width='25%' title="Player's calculated score (includes bonuses and multipliers)" class='center'><span class="sortby-label">Score</span></th>
			<th width='15%'  title="Change in rank from last game" style="text-align:center" class='center'>&#8645;</th>
		</tr>
	</thead>
</table>
<ul class="collapsible leaderboard" id="leaderboard" data-collapsible="accordion">
	{{#each rankings}}
	<li class="mix" data-score="{{this.score}}" data-averagerawscore="{{this.averagerawscore}}" data-averagescore="{{this.averagescore}}" data-rawscore="{{this.rawscore}}" data-totalgames="{{this.totalgames}}" data-averagerawandbonus="{{this.averagerawandbonus}}">
		<div class="playeritem collapsible-header">
			<table class="mainlist">	
				<tbody >
					<tr class="{{this.rankclass}}">
						
						<td width='15%' class='center'><div class="avatar"><img src="images/avatar/{{this.avatar}}" onerror="this.src='images/avatar/anon.jpg';this.onerror=null" /></strong></div><div class="rank"><strong>{{this.rank}}</strong></div></td>
						<td width='20%'>{{this.firstname}}</td>
						<td width='25%' class='center'>{{this.totalgames}}</td>
						<td width='25%' class='center'><span class="sortby-value">{{this.score}}</span></td>
						<td width='15%'><span class="rankchange rankchange-{{this.rankdirection}}">{{this.rankchange}}</span></td>
						
					</tr>
				</tbody>
			</table>
		</div>
		<div class="collapsible-body">
			<div class="stat-box blue"><strong>Av raw score</strong><br><span class="stat-value">{{this.averagerawscore}}</span></div>
			<div class="stat-box yellow darken-1"><strong>Days in 1<sup>st</sup></strong><br><span class="stat-value">{{this.daysatfirst}}</span></div>
			<div class="stat-box teal"><strong>Raw score</strong><br><span class="stat-value">{{this.rawscore}}</span></div>
			<div class="stat-box green"><strong>Highest score</strong><br><span class="stat-value">{{this.highestscore}}</span></div>
			<div class="stat-box orange darken-2"><strong>Boundys</strong><br><span class="stat-value">{{this.totalboundys}}</span></div>
			<div class="stat-box pink darken-2"><strong>Attendance</strong><br><span class="stat-value">{{this.percentplayed}}%</span></div>
			<div class="stat-box deep-purple"><strong>Incomplete keys</strong><br><span class="stat-value">{{this.incompletekeys}}</span></div>
			<div class="stat-box green darken-4"><strong>Late starts</strong><br><span class="stat-value">{{this.latestarts}}</span></div>
			<div class="stat-box blue darken-1"><strong>Laps</strong><br><span class="stat-value">{{this.totallaps}}</span></div>
		</div>
	</li>
	{{/each}}
</script>

<script id="preloader-overlay-template" type="text/x-handlebars-template">
<div class="preloader-overlay {{overlayClass}}">{{> preloaderTemplate }}</div>
</script>

<script id="partial_preloader-template" data-name="preloaderTemplate" type="text/x-handlebars-template">
<div class="spinner preloader-wrapper small active">
	<div class="spinner-layer spinner-green-only">
		<div class="circle-clipper left">
			<div class="circle"></div>
		</div><div class="gap-patch">
			<div class="circle"></div>
		</div><div class="circle-clipper right">
			<div class="circle"></div>
		</div>
	</div>
</div>
</script>

<script id="app-header-template" type="text/x-handlebars-template">
  <a class='header-settings btn-flat btn-large waves-effect waves-light deep-purple lighten-1' href='#' data-activates='settings-dropdown'><i class="material-icons">settings</i></a>
  <ul id='settings-dropdown' class='dropdown-content'>
  {{#if daynotcreated }}
    <li><a href="#" data-action='state:newDay' class="deep-purple-text text-lighten-1"><i class='material-icons left'>library_add</i>New game day</a></li>
  {{/if}}
    <li><a href="#" data-action="state:edit" class="deep-purple-text text-lighten-1"><i class='material-icons left'>mode_edit</i>Edit most recent day</a></li>
  </ul>
</script>

<script id="newday-template" type="text/x-handlebars-template">
	<h1 class="header">{{title}}</h1>
	{{#if isEdit }}<!-- empty -->{{else}}<h2 class="newday-timer">00:00</h2>{{/if}}
	<div class="body">
		<div class="newday-tools">
			<button class="waves-effect waves-light deep-purple lighten-1 btn action-btn add-player"><i class='material-icons left'>library_add</i>Add player</button>
			<button class="waves-effect waves-light deep-purple lighten-1 btn action-btn save-newday"><i class='material-icons left'>done</i>Finish</button>
			<button class="waves-effect waves-light btn action-btn cancel-newday red"><i class='material-icons left'>not_interested</i>Cancel</button>
		</div>

		<div class="gamedate-holder">
			<label for="gamedate">Date</label><input type="date" class="datepicker gamedate" id="gamedate" data-value="{{date}}">
		</div>
		<!--div class="conditions-holder">
			
		</div-->
		<div class="conditions-holder">
			<div class="input-field col s12">
				<select multiple class="conditions-select">
					<option value="" disabled>Game conditions...</option>
					<option value="" disabled>Cloud</option>
						<option value="1-0">Sunny</option>
						<option value="1-1">Partly cloudy</option>
						<option value="1-2">Overcast</option>
					<option value="" disabled>Temperature</option>
						<option value="5-1">Cold</option>
						<option value="5-2">Warm</option>
						<option value="5-3">Hot</option>
					<option value="" disabled>Wind</option>
						<option value="2-1">No wind</option>
						<option value="2-2">Slight wind</option>
						<option value="2-3">Very windy</option>
					<option value="" disabled>Rain</option>
						<option value="3-1">No rain</option>
						<option value="2-2">Slight rain</option>
						<option value="3-3">Very rainy</option>
					<option value="" disabled>Ground</option>
						<option value="4-1">Dry</option>
						<option value="4-2">Wet</option>
				</select>
				<label>Conditions</label>
			</div>
		</div>

		<button class="waves-effect waves-light deep-purple lighten-1 btn action-btn lock-players"><i class='material-icons left'>lock_open</i><span>Only show playing</span></button>
		
		<table class="mainlist striped editmode centered">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th colspan="3" class="bonus">Bonus</th>
					<th></th>
				</tr>
				<tr class="mainhead">
					<th width='11.11111%'>HK</th>
					<th width='11.11111%'>FK</th>
					<th width='11.11111%'>H3</th>
					<th width='11.11111%'>F3</th>
					<th width='11.11111%'>BN</th>
					<th width='11.11111%'>K1</th>
					<th width='11.11111%'>K2</th>
					<th width='11.11111%'>F3</th>
					<th width='11.11111%'>B</th>
				</tr>
			</thead>
		</table>
		<ul class="playerlist collapsible" data-collapsible="accordion">
		{{#each players}}
			{{#if this.active}}
			{{> newdayItem }}
			{{/if}}
		{{/each}}
		</ul>
	</div>
</script>

<script id="partial_newday-item" data-name="newdayItem" type="text/x-handlebars-template">
	<li class='player-row{{#if this.played}} isPlaying{{/if}}'>
		<div class="collapsible-header"><div class="accordion-header-blocker"></div><div class="accordion-header-icon"></div><table>
			<thead>
				<tr width="11.11111%"> </tr>
				<tr width="11.11111%"> </tr>
				<tr width="11.11111%"> </tr>
				<tr width="11.11111%"> </tr>
				<tr width="11.11111%"> </tr>
				<tr width="11.11111%"> </tr>
				<tr width="11.11111%"> </tr>
				<tr width="11.11111%"> </tr>
				<tr width="11.11111%"> </tr>
			</thead>
			<tbody>
			<tr class="player-row-header">
				<td colspan="9">
					<div class='playername'>{{this.firstname}}</div><div class='switch'><label><input type='checkbox' class='isPlaying' data-for="{{this.id}}" data-value="playing" {{isPlayingCheck this.played}}><span class='lever'></span></label></div>
				</td>
			</tr>
			<tr class="player-row-main-buttons">
				<td width="11.11111%"><div class="circle-button"><button {{isPlayingEnable this.played}} class='point-input' value="{{this.point01}}" data-for="{{this.id}}" data-value="point01">{{this.point01}}</button></div></td>
				<td width="11.11111%"><div class="circle-button"><button {{isPlayingEnable this.played}} class='point-input' value="{{this.point02}}" data-for="{{this.id}}" data-value="point02">{{this.point02}}</button></div></td>
				<td width="11.11111%"><div class="circle-button"><button {{isPlayingEnable this.played}} class='point-input' value="{{this.point02B}}" data-for="{{this.id}}" data-value="point02B">{{this.point02B}}</button></div></td>
				<td width="11.11111%"><div class="circle-button"><button {{isPlayingEnable this.played}} class='point-input' value="{{this.point03}}" data-for="{{this.id}}" data-value="point03">{{this.point03}}</button></div></td>
				<td width="11.11111%"><div class="circle-button"><button {{isPlayingEnable this.played}} class='point-input' value="{{this.boundy}}" data-for="{{this.id}}" data-value="boundy">{{this.boundy}}</button></div></td>
				<td width="11.11111%"><div class="circle-button"><button {{isPlayingEnable this.played}} class='point-input teal' value="{{this.bonus01}}" data-for="{{this.id}}" data-value="bonus01">{{this.bonus01}}</button></div></td>
				<td width="11.11111%"><div class="circle-button"><button {{isPlayingEnable this.played}} class='point-input teal' value="{{this.bonus02}}" data-for="{{this.id}}" data-value="bonus02">{{this.bonus02}}</button></div></td>
				<td width="11.11111%"><div class="circle-button"><button {{isPlayingEnable this.played}} class='point-input teal' value="{{this.bonus04}}" data-for="{{this.id}}" data-value="bonus04">{{this.bonus04}}</button></div></td>
				<td width="11.11111%"><a href="#" class='bb-button bb-purple point-button add-badge {{isPlayingEnable this.played}}' data-for="{{this.id}}" data-value="badge" id='badge-{{@index}}'>+</a></td>
			</tr>
			</tbody>
		</table></div>
		<div class="player-row-secondary-buttons collapsible-body">
			<table>
				<tbody>
				<tr>
					<td width="11.11111%"><button {{isPlayingEnable this.played}} class="point-subtract" data-for="{{this.id}}" data-value="point01">-</button></td>
					<td width="11.11111%"><button {{isPlayingEnable this.played}} class="point-subtract" data-for="{{this.id}}" data-value="point02">-</button></td>
					<td width="11.11111%"><button {{isPlayingEnable this.played}} class="point-subtract" data-for="{{this.id}}" data-value="point02B">-</button></td>
					<td width="11.11111%"><button {{isPlayingEnable this.played}} class="point-subtract" data-for="{{this.id}}" data-value="point03">-</button></td>
					<td width="11.11111%"><button {{isPlayingEnable this.played}} class="point-subtract" data-for="{{this.id}}" data-value="boundy">-</button></td>
					<td width="11.11111%"><button {{isPlayingEnable this.played}} class="point-subtract" data-for="{{this.id}}" data-value="bonus01">-</button></td>
					<td width="11.11111%"><button {{isPlayingEnable this.played}} class="point-subtract" data-for="{{this.id}}" data-value="bonus02">-</button></td>
					<td width="11.11111%"><button {{isPlayingEnable this.played}} class="point-subtract" data-for="{{this.id}}" data-value="bonus04">-</button></td>
					<td width="11.11111%"></td>
				</tr>
				</tbody>
			</table>
			<div class="late-control"><input {{isPlayingEnable this.played}} type='checkbox' class='isLate point-check' data-for="{{this.id}}" data-value="late" id='islate-{{@index}}' {{isLate this.late}}><label for='islate-{{@index}}'>Late</label></div>
		</div>
	</li>
</script>

<script id="modal-new-player" type="text/x-handlebars-template">
   <div id="newplayermodal" class="modal">
   	<div class="modal-content">
      <h4>Add new player</h4>
      <label for="first_name">First Name</label>
      <input id="first_name" type="text" class="validate">
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect deep-purple lighten-1 btn-flat cancel-button">Cancel</a>
      <a href="#!" class=" modal-action modal-close waves-effect deep-purple lighten-1 btn-flat addplayer-button">Add player</a>
    </div>
  </div>
</script>

<script id="modal-app-auth" type="text/x-handlebars-template">
   <div id="authmodal" class="modal">
    <div class="modal-content">
      <h4>Enter pin</h4>
      <input class="pin-display" type="text" disabled></input>
	  <a class="waves-effect btn-flat deep-purple lighten-1 pin-button">1</a>
	  <a class="waves-effect btn-flat deep-purple lighten-1 pin-button">2</a>
	  <a class="waves-effect btn-flat deep-purple lighten-1 pin-button">3</a>
	  <a class="waves-effect btn-flat deep-purple lighten-1 pin-button">4</a>
	  <a class="waves-effect btn-flat deep-purple lighten-1 pin-button">5</a>
	  <a class="waves-effect btn-flat deep-purple lighten-1 pin-button">6</a>
	  <a class="waves-effect btn-flat deep-purple lighten-1 pin-button">7</a>
	  <a class="waves-effect btn-flat deep-purple lighten-1 pin-button">8</a>
	  <a class="waves-effect btn-flat deep-purple lighten-1 pin-button">9</a>
    </div>
  </div>
</script>

<script id="modal-game-details" type="text/x-handlebars-template">
   <div id="gamedetails-modal" class="modal">
    <div class="modal-content">
      
         <div class="input-field col s12 day-select-wrap">
			<select class="day-select browser-default">
			{{#each games}}
				<option value="{{this.value}}" {{#if this.isToday}}selected{{/if}}>Day {{this.day}}</option>
			{{/each}}
			</select>
		</div>
      
      <div class="game-details-table">
     	 {{> gameDetailsTable }}
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close bb-button bb-purple">Close</a>
    </div>
  </div>
</script>

<script id="partial_game-details-table" data-name="gameDetailsTable" type="text/x-handlebars-template">
<h4 class="details-heading">Day {{gamenumber}} details <span>{{{gamedate}}}</span></h4>
  <div class="game-conditions">
	      <h5>Conditions</h5>
	      <div><strong>Temperature:</strong> {{conditions.temp}}&deg; <strong>Wind:</strong> {{conditions.winddir}} {{conditions.windspd}}kph</div>
	    </div>
<h5 class="details-player-title">{{numPlayers}} players</h5>
<table class="striped centered">
	<thead>
		<tr>
			<th style="width:22%">Name</th>
			<th>New rank</th>
			<th>Points</th>
			<th>Bonuses</th>
			<th></th>
			<th></th>
			<th>Final score</th>
			<th style="width:5%"></th>
		</tr>
	</thead>
	<tbody>
		{{#each players}}
		<tr class="game-details-player">
			<td>{{this.firstname}}</td>
			<td>{{this.rank}}</td>
			<td><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="{{#if this.point01}}  {{this.point01}} × half key  {{else}}No points{{/if}}{{#if this.point02}}  {{this.point02}} × full key  {{/if}}{{#if this.point02B}}  {{this.point02B}} × half 3  {{/if}}{{#if this.point03}}  {{this.point03}} × full 3  {{/if}}{{#if this.boundy}}  {{this.boundy}} × boundy  {{/if}}">{{this.rawscore}}</a>
</td>
			<td><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="{{#if this.bonuses}}{{else}}No bonuses{{/if}}{{#if this.bonus01}}  {{this.bonus01}} × 1st key  {{/if}}{{#if this.bonus02}}  {{this.bonus02}} × 2nd key  {{/if}}{{#if this.bonus03}}  {{this.bonus03}} × full key  {{/if}}{{#if this.bonus04}}  {{this.bonus04}} × full 3pt  {{/if}}">{{this.bonuses}}</a></td>
			<td><div class="multiplier multiplier-{{this.multiplier}}">&times;{{this.multiplier}}</div></td>
			<td>{{#if this.late}} <i class='material-icons icon-latebonus' title='Late bonus'>schedule</i>{{/if}}</td>
			<td>{{this.score}}</td>
			<td>{{#if this.powerup}} <i class='material-icons icon-powerup' title='Received a power up'>battery_charging_full</i>{{/if}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
</script>

<script id="game-in-progress-message" type="text/x-handlebars-template">
<div class="message {{messageStyle}} game-in-progress">
	<p>Game is currently in progress<br><span class="late-bonus">Late bonus now applies<br></span>(<span class="time-left">{{timeleft}}</span> remaining)</p>
</div>
</script>

<script id="stats-panel-header" type="text/x-handlebars-template">
<div class="stats-header">
	<ul class="stats-menu">
		<li class="stats-menu-item season-stats" data-id="season">
			<div class="stats-menu-icon menu-avatar">
				<svg class="stats-menu-icon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40.3 40.3"><path fill="#FFF" d="M20.2 40.3C9 40.3 0 31.3 0 20.2S9 0 20.2 0s20.2 9 20.2 20.2-9.1 20.1-20.2 20.1zm0-38.3C10.1 2 2 10.1 2 20.2s8.1 18.2 18.2 18.2 18.2-8.1 18.2-18.2S30.2 2 20.2 2z"/><path fill="#FFF" d="M19.2 1h2v38.3h-2z"/><path fill="#FFF" d="M1 19.2h38.3v2H1z"/><path fill="#FFF" d="M12.8 20.2c0 5.4-2.4 10.2-6.1 13.6.5.5 1 .9 1.5 1.3 4.1-3.7 6.6-9 6.6-14.9S12.2 9 8.2 5.3c-.5.4-1 .9-1.5 1.3 3.7 3.3 6.1 8.2 6.1 13.6zM27.6 20.2c0-5.4 2.4-10.2 6.1-13.6-.5-.5-1-.9-1.5-1.3-4.1 3.7-6.6 9-6.6 14.9s2.6 11.2 6.6 14.9c.5-.4 1-.9 1.5-1.3-3.8-3.4-6.1-8.2-6.1-13.6z"/></svg>
			</div>
			<div class="stat-menu-item-label" data-id="season">Season</div>
		</li>
		{{#each players}}
		<li class="stats-menu-item player-stats" data-id="{{this.id}}">
			<div class="stats-menu-icon menu-avatar">
				<img src="images/avatar/{{this.avatar}}" onerror="this.src='images/avatar/anon.jpg';this.onerror=null" width="100%"/>
			</div>
			<div class="stat-menu-item-label" data-id="{{this.id}}">{{this.firstname}}</div>
		</li>
		{{/each}}
	</ul>
	<div class="season-stats-holder"></div>
</div>
</script>

<script id="stats-panel-season-stats-empty" type="text/x-handlebars-template">
<div class="stat-view">
	<h2 class="empty-state-message">Stats available from day 2</h2>	
</div>
</script>


<script id="stats-panel-season-stats" type="text/x-handlebars-template">
<div class="stat-view">
	<div class="col-1-4 season-stats-left">
		<div class="stat-holder left-1">
			<h3>Season progress</h3>
		</div>
		<div class="stat-holder left-2">
			<h3>Days in 1<sup>st</sup></h3>
		</div>
	</div>
	<div class="col-3-4 season-stats-right">
		<div class="stat-holder right-1">

			<div class="leader-stats">
				<!-- <div class="leader-stat" data-value="{{totalscore_value}}">
					<div class="leader-stat-ring">
						<span>0</span>
					</div>
					<h3>Total<br>score</h3>
					<hr/>
					<h4>{{{totalscore_playername}}}</h4>
				</div> -->

				<div class="leader-stat" data-value="{{rawscore_value}}">
					<div class="leader-stat-ring">
						<span>0</span>
					</div>
					<h3>Raw<br>score</h3>
					<hr/>
					<h4>{{{rawscore_playername}}}</h4>
				</div>

				<div class="leader-stat" data-value="{{highestscore_value}}">
					<div class="leader-stat-ring">
						<span>0</span>
					</div>
					<h3>Highest<br>score</h3>
					<hr/>
					<h4>{{{highestscore_playername}}}</h4>
				</div>

				<div class="leader-stat" data-value="{{boundys_value}}">
					<div class="leader-stat-ring">
						<span>0</span>
					</div>
					<h3>Most<br>boundys</h3>
					<hr/>
					<h4>{{{boundys_playername}}}</h4>
				</div>

				<div class="leader-stat" data-value="{{laps_value}}">
					<div class="leader-stat-ring">
						<span>0</span>
					</div>
					<h3>Most<br>laps</h3>
					<hr/>
					<h4>{{{laps_playername}}}</h4>
				</div>

				<div class="leader-stat" data-value="{{bonuses_value}}">
					<div class="leader-stat-ring">
						<span>0</span>
					</div>
					<h3>Most<br>bonuses</h3>
					<hr/>
					<h4>{{{bonuses_playername}}}</h4>
				</div>
			</div>

			<h3>Leaders</h3>
		</div>
		<div class="stat-holder right-2">
			<h3>Player rank over season</h3>
		</div>
		<div class="stat-holder right-3">
			<h3>Player raw score</h3>
		</div>
	</div>
</div>
</script>

<script id="stats-panel-player-stats" type="text/x-handlebars-template">
<div class="stat-view">
	<div class="player-stat-name"><h2>{{firstname}}</h2></div>
	<div class="col-1-4 season-stats-left">
		<div class="stat-holder left-1">
			<h3>Attendance</h3>
		</div>
		<div class="stat-holder left-2">
			{{#if enableBadges}}
				<h3>Badges</h3>
				{{#if hasBadges}}
					{{#each badges}}
						<div class="badge" title="{{this.description}}" style="background:url(images/badge/{{this.image}}) no-repeat center top;background-size: 100%;"><span class="badge-label">{{this.name}}</span>{{#if this.multi}}<span class="badge-count" data-count="{{this.count}}">{{this.count}}</span>{{/if}}</div>
					{{/each}}
				{{else}}
					<div><h2 class="empty-state-message small-message">No badges yet</h2></div>
				{{/if}}
			{{/if}}
		</div>
	</div>
	<div class="col-3-4 season-stats-right">
		<div class="stat-holder right-1">

			<div class="leader-stats">
				<div class="leader-stat">
					<div class="leader-stat-ring">
						<span>{{daysatfirst}}</span>
					</div>
					<h3>Days in<br>1<sup>st</sup></h3>
				</div>

				<!--div class="leader-stat">
					<div class="leader-stat-ring">
						<span>{{rawscore}}</span>
					</div>
					<h3>Raw<br>score</h3>
				</div-->

				<div class="leader-stat">
					<div class="leader-stat-ring">
						<span>{{highestscore}}</span>
					</div>
					<h3>Highest game score</h3>
				</div>

				<div class="leader-stat">
					<div class="leader-stat-ring">
						<span>{{modescore}}</span>
					</div>
					<h3>Typical game score</h3>
				</div>

				<div class="leader-stat">
					<div class="leader-stat-ring">
						<span>{{boundys}}</span>
					</div>
					<h3>Total<br>Boundys</h3>
				</div>

				<div class="leader-stat">
					<div class="leader-stat-ring">
						<span>{{s_shots}}</span>
					</div>
					<h3>Successful<br>shots</h3>
				</div>

				<div class="leader-stat">
					<div class="leader-stat-ring">
						<span>{{distance}}<br><span class="unit">{{dist_unit}}</span></span>
					</div>
					<h3>Distance<br>travelled</h3>
				</div>
			</div>

			<h3>Stats</h3>
		</div>
		<div class="stat-holder right-2">
			<h3>Rank over season</h3>
		</div>
		<div class="stat-holder right-3">
			<h3><i class="chart-legend-swatch" style="background:#F9B450"></i>Temperature <sub>vs</sub> <i class="chart-legend-swatch" style="background:#6c8fee"></i>Raw game score</h3>
		</div>
	</div>
</div>
</script>
<script id="badges-selector" type="text/x-handlebars-template">
<div class="badges-selector-wrapper">
	<div class="badges-selector">

		<div class="badges-current">
			{{#each currentbadges}}
				<div class="badge current-badge" data-index="{{this.dataindex}}" title="{{this.description}}" style="background-image:url(images/badge/{{this.image}})"><span class="badge-label">{{this.name}}</span><div class="badge-remove"></div></div>
			{{/each}}
		</div>	
		<div class="badges-available">
			{{#each badges}}
				<div class="badge new-badge" data-id="{{this.id}}" title="{{this.description}}" style="background-image:url(images/badge/{{this.image}})"><span class="badge-label">{{this.name}}</span></div>
			{{/each}}
		</div>
	</div>
</div>
</script>

