*,*:before, *:after {
	box-sizing: border-box;
}

html, body {
	background-color: #212633;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	font-family: "Roboto", Arial, sans-serif;
}

.col-1-2 {
	float: left;
	width: 50%;
}
.col-1-4 {
	float: left;
	width: 25%;
}
.col-3-4 {
	float: left;
	width: 75%;
}



/* ================ */

.season-selector {
	display: block;
	width: 75%;
	max-width: 170px;
	background: #2B3042;
    color: #FFF;
    border: 1px solid #212633;
    text-transform: uppercase;
    font-size: 0.8rem;
    float: left;
}

.suggestion-link {
	float: right;
	clear: right;
    color: #E2E2E2;
    border: 1px solid #212633;
    background: #2B3042;
    font-size: 0.8rem;
    padding: 0.4em;
    display: flex;
    align-items: center;
    margin: 1em 0 0;
}

.suggestion-link i {
	margin-right: 0.2em;
}

.season-selector:focus {
	outline: none;
	border: 1px dotted #212633;
}

.season-selector option {
	padding: 1rem;
	font-size: 1rem;
}

.empty-state-message {
    color: #454C67;
    text-shadow: #212633 0px -1px;
    text-align: center;
    font-size: 3rem;
}

.small-message {
	font-size: 1.3rem;
}

.no-games-message {
	   display: block;
    clear: both;
    padding: 5rem 0;
}

.bb-button {
	font-family: "Roboto", Arial, sans-serif;
	border-radius: 100px;
	border: 1px solid;
	text-transform: uppercase;
	font-size: 0.9em;
	padding: 0.3em 1em;
	cursor: pointer;
}
.bb-button.disabled {
	opacity: 0.5;
	cursor: default;
}



.bb-purple {
	color: #7463E7;
}

/* ================*/


.app-header {
	position: relative;
	z-index: 2;
}

.app-state {
	position: relative;
	z-index: 1;
}
.app {
	width: 100%;
    padding: 10px;
}

.app-panel {
	float: left;
	background-color: #353B51;
}

.scoreboard {
	width: 38%;
	max-width: 530px;
	min-width: 460px;
	min-height: 400px;
	margin: 0 auto;
	float: none;

}

.scoreboard.pull-left {
	margin: 0 10px 10px 0;
	float: left;
}

.edit-state,
.newday-state,
.admin-state {
	color: #e2e2e2;
	padding: 10px;
}

@media (max-width: 1023px) {
	.scoreboard {
		margin: 0 auto;
		float: none;
		width: 100%;
	}
}
@media (max-width: 800px) {
	.scoreboard {
		width: 100%;
    	max-width: 100%;
	}
}
@media (max-width: 520px) {
	.app {
		margin: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 0;
	}
	
	.scoreboard {
    	min-width: 0;
	}
}

.main-header {
	position: relative;
    z-index: 2;
}

.main-footer {
	padding: 10px;
	padding-top: 0;
}

.main-footer:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.banner-wrap {
	width: 100%;
	height: 0;
	padding-bottom: 17.4%;
	position: relative;
}

.banner {
	width: 100%;
	height: 100%;
	border: none;
	position: absolute;
}

.grandfinal-image {
    position: absolute;
    height: 80%;
    top: 10%;
    left: 6px;
}

.app-header.hidden {
	visibility: hidden;
}


.mainlist-header {
	color: #E2E2E2;
	text-transform: uppercase;
	font-size: 0.75em;
}

.mainlist-header thead,
.mainlist-header tr {
	border-bottom: none;
}

.mainlist-header th {
	padding-bottom: 0;
}


.mainlist {
	width: 100%;
}

.mainlist thead {
	font-weight: bold;
}

.mainlist td {
	border-radius: 0;
	padding: 5px 5px;
}
.action-btn {
	/*float: right;*/
}

.action-btn {
	margin-right: 4px;
	margin-bottom: 4px;
}


.row-gold {
	color: #F9B450;
}

.row-silver {
	color: #5DDCF9;
}

.row-bronze {
	color: #FB6C70;
}

.row-iron {
	color: #29DDC0;
}

.header {
	text-align: left;
	font-size: 2.2rem;
	margin-top: 0.7rem;
	margin-bottom: 0.5rem;
    font-weight: 300;
}

.game-details {
	text-align: center;
    float: right;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    margin-right: 5px;
    padding: 0.6rem 2rem;
    background: #7463E7;
    color: #FFF;
    border-color: #7463E7;
    line-height: 1;
}

.view-stats {
	text-align: center;
    float: right;
    display: inline-block;
    height: 32px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    margin-right: 10px;
    background: transparent;
    color: #7463E7;
    border-color: #7463E7;
    line-height: 1;
    padding: 6px;
    padding-top: 5px;
}

.view-stats:hover,
.view-stats.active {
	background: #7463E7;
    color: #FFF;
    border-color: #7463E7;
}

.view-stats i {
	font-size: 19px;
}

.body {
	position: relative;
}
.season-dates {
	font-size: 1.5rem;
	margin-top: 0;
	text-align: center;
}
.daysleft  img {
	width: 100px;
}

.daysleft-chart-wrap {
	width: 20px;
	height: 20px;
	position: absolute;
    top: 6px;
    left: 5px;
}

.header-settings {
	padding: 0 1rem;
	float: right;
}
.seasondate {
	position: relative;
	text-align: center;
    float: left;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    margin-left: 10px;
    padding: 0.6rem 2rem;
    padding-left: 3.3rem;
    border-radius: 50px;
    color: #E2E2E2;
    border: 1px solid #E2E2E2;
}

.lastupdate {
	text-align: right;
	font-size: 0.8rem;
	font-weight: normal;
	margin: 0;
	color: rgba(255, 255, 255, 0.5);
	float: right;
}

@media (max-width: 410px) {
	body, html {
		margin: 0;
	}
	.seasondate {
		text-align: center;
		display: block;
		width: calc(100% - 20px);
	}

	.game-details {
		display: block;
		width: calc(100% - 20px - 3.5em);
		margin-top: 0;
	}

	.view-stats {
		margin-top: 0;
	}
}

#authmodal {
	max-width: 400px;
	padding-bottom: 22px;
}
.pin-display {
	font-size: 2.5rem !important;
	text-align: center;
	color: #FFF  !important;
}
.pin-button {
	width: 31.333%;
	padding-bottom: 21.333%;
	padding-top: 10%;
	float: left;
	margin: 1%;
	font-size: 30px;
	text-align: center;
	color: #FFF;
}
.pin-button:nth-of-type(3n+1) {
	clear: left;
}

.sort-menu {
	clear: both;
    text-align: right;
    background: #2E3548;
    padding: 10px;
    border-top: 1px solid #272E41;
    border-bottom: 1px solid #272E41;
}

.sort-label {
	text-transform: uppercase;
    font-size: 0.8em;
    padding-right: 0.65em;
    float: left;
    line-height: 1.9;
}

.leaderboard {
	padding: 10px;
}


.sort.bb-button {
    font-size: 0.7em;
    opacity: 0.4;
    white-space: nowrap;
}

.sort.bb-button.active {
	background-color: #7463E7;
	border-color: #7463E7;
	color: #FFF;
    opacity: 1;
}




table.editmode td {
	padding: 0px 5px;
}

.playername {
	margin: 0 1rem;
    float: left;
    width: 15%;
    font-weight: bold;
}

table.editmode [type="number"] {
	text-align: center;
}

table.editmode [type="number"]:not(:disabled) {
	background-color: rgb(33, 38, 51);
}

table.editmode [type=number]::-webkit-inner-spin-button, 
table.editmode [type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

table.editmode [type="checkbox"]+label {
	padding-left: 20px;
}

table.editmode [type="checkbox"]+label:before {
    border: 2px solid #FFFFFF;
}

[type="checkbox"]:checked+label:before {
    border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
}

table.editmode .switch {
	margin-bottom: 13px;
}

table.editmode .switch label .lever {
	margin: 0 10px;
}

th.bonus {
	border-bottom: 2px solid #26A69A;
	background: #26A69A;
	color: #FFF !important;
	padding-left: 0;
	padding: 5px 0;
	font-weight: 400;
}
/*
table.editmode th:nth-last-of-type(1),
table.editmode th:nth-last-of-type(2),
table.editmode th:nth-last-of-type(3) {
	text-align: center;
	color: #FFF;
}*/
table.editmode td:nth-last-of-type(2),
table.editmode td:nth-last-of-type(3),
table.editmode td:nth-last-of-type(4),
table.editmode .mainhead th:nth-last-of-type(2),
table.editmode .mainhead th:nth-last-of-type(3),
table.editmode .mainhead th:nth-last-of-type(4) {
	background-color: rgba(38, 166, 154, 0.4);
}
/*table.editmode .mainhead th:nth-last-of-type(3),
table.editmode td:nth-last-of-type(3) {
	border-left: 1px solid #26A69A;
}*/

label {
	color: #FFF;
}

[type="checkbox"]+label:before {
	border-color: #FFF;
}

.newday-tools {
	margin: 1rem 0;
	width: 100%;
}

.newday-tools:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.newday-tools button {
	padding: 0 0.7rem;
}

.edit-state .collapsible-header,
.newday-state .collapsible-header {
	position: relative;
	background: transparent;
	border: none;
	-webkit-tap-highlight-color: transparent;
}

.collapsible-header .accordion-header-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 11.1111%;
	height: 54px;
	font-size: 1.5rem;
	text-align: center;
	line-height: 1;
	padding-top: 1.25rem;
	background: rgba(33, 38, 51, 0.14);
	font-family: 'Material Icons';
	-webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga' 1;
}

.collapsible-header .accordion-header-icon:before {
	content: "keyboard_arrow_down";
}
.collapsible-header.active .accordion-header-icon:before {
	content: "keyboard_arrow_up";
}

.accordion-header-blocker {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 54px);
	background: rgba(0,0,0,0);
	height: 54px;
	cursor: default;
}

.player-row thead {
	border: none;
}

.player-row .player-row-header {
    background: rgb(65, 72, 99);
}

.player-row-header td {
    padding: 5px;
}

.player-row-main-buttons td {
    padding: 10px 2px;
}

.player-row-secondary-buttons td {
	padding: 0 2px;
}

.player-row.hide-row {
	display: none;
}

.circle-button {
	width: 100%;
	padding-bottom: 150%;
	position: relative;
}

.circle-button button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7E57C2;
	border: none;
	border-radius: 20px;
}

.circle-button button.point-input {
	background: #20202D;
	font-size: 2rem;
}
.point-input:disabled {
	opacity: 0.3;
}

.point-subtract {
	width: 100%;
	border: none;
	background: #D03535;
	border-radius: 10px;
	padding: 5px 0 7px;
	line-height: 1;
	font-size: 2rem;
	-webkit-tap-highlight-color: transparent;
}
.point-subtract:focus {
	background: #D03535;
}
.point-subtract:disabled {
	opacity: 0.3;
}
.late-control {
	float: left;
	margin-top: 1rem;
}

.collapsible {
	box-shadow: none;
	margin: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.collapsible .collapsible-body {
	border-bottom: none;
}
.collapsible .collapsible-header {
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

.collapsible-body {
	padding: 1% 0;
}

.collapsible-body:after {
	content: "";
	display: block;
	clear: both;
}
.stat-box {
	width: 31.333%;
	height: 80px;
	float: left;
	text-align: center;
	color: #FFF;
	margin: 1%;
	padding-top: 1rem;
	line-height: 1.1;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}


.collapsible-header.playeritem {
	background: #2E3548;
	border-bottom: none;
	margin-bottom: 1px;
}


.stat-value {
	font-size: 1.6rem;
	color: #FFF;
	line-height: 1.4;
}

.conditions-holder .input-field {
	margin-top: 1.55rem;
}
.conditions-holder .input-field label {
	left: 0;
}

.gamedate-holder {
	width: 49%;
	float: left;
	margin-right: 1%;
}

.conditions-holder {
	width: 50%;
	float: left;
}

.conditions-button {
	float: right;
}

.details-heading span {
	font-size: 0.75em;
	color: #7463E7;
}
.game-conditions {
	float: right;
}

.details-player-title {
	float: left;
}

.rankchange,
.multiplier {
	text-transform: uppercase;
	display: inline-block;
	padding: 2px 5px;
	background: #bbdefb;
	border: 1px solid;
	border-radius: 2px;
	color: #2196f3;
	font-size: 0.7rem;
	line-height: 1;
}


.multiplier-1 {
	/*background: #fff8e1;
	color: #ffa726;*/
	background: rgba(249, 180, 80,0.2);
	color: rgba(249, 180, 80,1);
	
}

.multiplier-2 {
	/*background: #bbdefb;
	color: #2196f3;*/
	background: rgba(93,220,249,0.2);
	color: rgba(93,220,249,1);
}

.multiplier-3 {
	/*background: #ffcdd2;
	color: #f44336;*/
	background: rgba(251, 108, 112, 0.2);
	color: rgba(251, 108, 112, 1);
}

.multiplier-4 {
	/*background: #c8e6c9;
	color: #4caf50;*/
	background: rgba(40, 333, 147, 0.2);
	color: rgba(40, 333, 147, 1);
}

.multiplier-5 {
	background: rgba(116, 99, 231, 0.2);
    color: #A193FF;
}

.icon-latebonus,
.icon-powerup {
	position: relative;
	top: 3px;
	font-size:17px;
}

.rankchange {
	position: relative;
	padding: 3px 5px 2px;
	float: right;

	background: rgba(93,220,249,0.2);
	color: rgba(93,220,249,1);
}


.rankchange-up {
	background: rgba(40, 333, 147, 0.2);
	color: rgba(40, 333, 147, 1);
}

.rankchange-down {
	background: rgba(251, 108, 112, 0.2);
	color: rgba(251, 108, 112, 1);
}

.rankchange-up.large-up:before {
	content: "flight";
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: calc(100% + 10px);
	width: 23px;
	height: 20px;
	color: #FFDB58;
	
	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga' 1;
    -webkit-font-smoothing: antialiased;
	/*background: url(../images/rocket.png) no-repeat center;*/
}

.rankchange-down.large-down:before {
	content: "trending_down";
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: calc(100% + 10px);
	width: 23px;
	height: 24px;
	color: #F7353B;
	
	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga' 1;
    -webkit-font-smoothing: antialiased;
}

.day-select-wrap {
	float: right;
    width: 160px;
    margin-top: -3px;
}


.mainlist .avatar {
	position: relative;
    z-index: 1;
	border: 2px solid;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 25px;
    margin-top: -3px;
    overflow: hidden;
}

.mainlist .avatar img {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
}

.mainlist .rank {
	position: relative;
    z-index: 2;
	border: 2px solid;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin-top: -33px;
    margin-left: 3px;
    background-color: #2E3548;
	line-height: 1;
	padding-top: 0.6em;
    font-size: 11px;
}

.day-select {

}


@media only screen and (max-width: 992px) {
	.modal {
		width: 96%;
		max-height: 85%;
	}
}

.preloader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

.preloader-overlay .spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -18px;
}


.message {
	width: 98%;
	margin: 4px 1% 1rem 1%;
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	text-align: center;
	line-height: 1.2;
}

.positive {
	background-color: #c8e6c9;
	border: 1px solid #4caf50;
}

.negative {
	background-color: #ffcdd2;
	border: 1px solid #f44336;
}

.game-in-progress {
	
}

.late-bonus {
	display: none;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

.late-bonus.visible {
	display: inline;
}

.tooltipped {
	border-bottom: 1px dotted;
	cursor: default;
	color: #FFF;
}

.material-tooltip {
	white-space: pre;
}

.modal {
	background: #353B51;
	color: #E2E2E2;
}
.modal .modal-content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.modal .modal-footer {
	background: transparent;
	color: #E2E2E2;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.input-field {
	color: black;
}
table.striped>tbody>tr:nth-child(odd) {
	background: rgba(0,0,0,0.1);
}

.modal-close {
	float: right;
	margin-right: 10px;
}

.modal-close:hover {
	background: #7463E7;
	border-color: #7463E7;
	color: #FFF;
}

.backdrop {
	background: #212633;
}

table.editmode [type="checkbox"]+label:before {
	/*border: 2px solid #e2e2e2;*/
}
table.editmode [type="checkbox"]:not(:checked):disabled+label:before {
    background-color: #212633;
}
table.editmode .switch label .lever {
    background-color: #212633;
}

.select-wrapper input.select-dropdown {
	color: #FFF;
}

.cancel-newday {
	float: right;
}

.newday-timer {
	position: absolute;
    top: 10px;
    right: 0;
    font-size: 2.2rem;
    margin: 0;
    padding: 10px 10px;
    font-weight: 300;
}


/*//////////// CHARTS ///////*/

.stats {
	width: calc(62% - 10px);
    max-width: 1090px;
    margin-bottom: 10px
}

@media(max-width: 1023px) {
	.stats {
		margin-top: 10px;
		width: 100%;
		clear: both;
	}
}
.stats-header {
	overflow: hidden;
}
.stats-menu {
	margin: 0;
	background: #2e3548;
	width: 100%;
	padding: 10px;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;

	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.stats-menu-item {
	list-style-type: none;
	margin: 0;
	display: inline-block;
    width: 66px;
	height: 66px;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	
}

.stat-menu-item-label {
	width: 66px;
	height: 66px;
	background: #7463E7;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	opacity: 0;
	color: #FFF;
	text-transform: uppercase;
	font-size: 11px;
	display: flex;
	align-items: center;
	justify-content: center;

	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.stats-menu-item:hover .stat-menu-item-label,
.stats-menu-item.active .stat-menu-item-label {

	transform: translateY(-100%);

	opacity: 1;
	
}

.menu-avatar {
	background: #212633;
	width: 100%;
	height: 100%;
	padding: 13px;
	overflow: hidden;

	transition: all 0.15s;
}
.stats-menu-item.active .menu-avatar,
.stats-menu-item:hover .menu-avatar {

	transform: translateY(-100%);
	
}
.menu-avatar svg,
.menu-avatar img {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.season-stats-holder {
	padding: 10px;
	min-height: 500px;
}

.stat-holder:last-of-type {
	border-bottom: none;
}

.season-stats-holder:after {
	content: "";
	display: block;
	clear: both;
}

.stat-holder h3 {
	color: #e2e2e2;
	font-size: 20px;
	font-weight: 200;
	text-align: center;
	text-transform: uppercase;
}


.season-stats-right {
	border-left: 1px solid #272e41;
}

.stat-holder {
	opacity: 1;
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid #272e41;
}

.player-stat-name {
	border-bottom: 1px solid #272e41;
}
.player-stat-name h2 {
	font-weight: 200;
    color: #e2e2e2;
    margin: 0.3em 0.3em 0.5em 0.3em;
}


.axis text {
  font: 10px sans-serif;
  fill: #e2e2e2;
}

.axis path,
.axis line {
  fill: none;
  stroke: #e2e2e2;
  shape-rendering: crispEdges;
}

.chart {
	width: 100%;
}

.season-stats-left .stat-holder {
	padding-left: 0;
}

.season-stats-left .chart {
	max-width: 200px;
	margin: 0 auto;
	display: block;
}

.season-stats-right .stat-holder {
	padding-right: 0;
}

.season-stats-right .chart {
	max-width: 700px;
	margin: 0 auto;
	display: block;
}


@media (max-width: 800px) {
	.season-stats-left {
		width: 100%;
		display: flex;
    	justify-content: space-around;
    	border-bottom: 1px solid #272e41;
	}
	.season-stats-left .stat-holder {
		border: none;
	}

	.season-stats-right {
		width: 100%;
		border: none;
	}
	.season-stats-right .stat-holder {
		padding: 30px 0;
	}

}

.pieCentreLabel {
	font-size: 22px;
	font-family: "Roboto", Arial, sans-serif;
	fill: #e2e2e2;
	font-weight: 200;
	pointer-events: none;
}

.pieCentreLabelValue {
	font-size: 30px;
	font-family: "Roboto", Arial, sans-serif;
	fill: #e2e2e2;
	font-weight: 400;
	pointer-events: none;

}
.pieCentreLabelKey {
	font-size: 10px;
	font-family: "Roboto", Arial, sans-serif;
	fill: #e2e2e2;
	font-weight: 200;
	text-transform: uppercase;
	pointer-events: none;
}


.barChartValue {
	font-weight: bold;
	fill: #e2e2e2;
	text-align: center;
}

.chartTip {
	position: absolute;
	opacity: 0;
	padding: 0.4em 1.2em;
	background: #FFF;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	pointer-events: none;

	-webkit-transform: translate(-50%, -110%);
	transform: translate(-50%, -120%);
}

.chartTip:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: -10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-top: 5px solid #fff;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
}


.leader-stats {
	width: 100%;
	text-align: center;
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.leader-stat {
	display: inline-block;

	width: 100px;
	padding: 0 5px;

	color: #FFF;

	vertical-align: top;

}

.leader-stat:nth-of-type(1) {
	color: #FB6C70;
}
.leader-stat:nth-of-type(2) {
	color: #FA8465;
}
.leader-stat:nth-of-type(3) {
	color: #FA9C5B;
}
.leader-stat:nth-of-type(4) {
	color: #F9B450;
}
.leader-stat:nth-of-type(5) {
	color: #B4C275;
}
.leader-stat:nth-of-type(6) {
	color: #4CDCE6;
}
.leader-stat:nth-of-type(7) {
	color: #6C8BED;
}

.leader-stat hr {
	height: 0;
	border: none;
	border-bottom: 1px solid currentColor;
	margin: 0 auto;
	padding: 0;
	width: 90%;
}

.leader-stat-ring {
	width: 90px;
	height: 90px;

	position: relative;
}

.leader-stat-ring span {
	position: absolute;
	width: 100%;
	top: 32px;
	left: 0;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
}

.leader-stat-ring span .unit {
	font-size: 11px;
    font-weight: 400;
    line-height: 1;
    margin-top: -0.4em;
    text-transform: uppercase;
}

.leader-stat-ring:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;

	border: 2px solid currentColor;
	border-radius: 50%;
}

.leader-stat h3 {
	color: currentColor;
	text-transform: uppercase;
	font-size: 13px;
	margin: 0.8em 0;
}
.leader-stat h4 {
	color: #e2e2e2;
	text-transform: uppercase;
	font-size: 13px;
	margin: 0.8em 0;
}

.chart-legend-swatch {
	display: inline-block;
	vertical-align: middle;
	width: 0.6em;
	height: 0.6em;
	margin: -0.15em 0.2em 0 0.4em;
}

.badge {
	width: 45%;
    padding-bottom: 45%;
    background: #CCC;
    margin: 2.4%;
    float: left;
    position: relative;
}

.stat-holder .badge {
	width: 45%;
    padding-bottom: calc(45% + 2em);
}

.badge-label {
	position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.stat-holder  .badge-label {
	height: auto;
    opacity: 1;
    color: #FFF;
    text-align: center;
    line-height: 1;
    padding: 0 0.75em;
    margin-top: 95%;
    font-size: 0.8em;
    text-transform: uppercase;
}

.badge-count {
	position: absolute;
    font-size: 0.9em;
    top: 0.8em;
    width: 2em;
    height: 2em;
    text-align: center;
    font-weight: bold;
    right: -0.8em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #28FF93;
    color: #2D5D57;
    padding: 0.5em;
    border-radius: 50%;
    line-height: 1;
}

.badge-count[data-count='1'] {
	display: none;
}

.badges-selector-wrapper {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.badges-selector {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: #353B51;
    z-index: 2;
    padding: 10px;
   /* overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;*/
    -webkit-tap-highlight-color: transparent;
}

.badges-current {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 120px;
	background: #545A71;
	border-bottom: 1px solid #11131A;
	padding: 20px;

	white-space: nowrap;

	 overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}



.badges-available {
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #353B51;

	 overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


.badges-selector .badge {
	display: inline-block;
    width: 28.333%;
    padding-bottom: 28.333%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    
}

.add-badge {
    height: 45px;
    width: 100%;
    display: block;
    line-height: 1;
    background: #7463e7;
    color: #FFF;
    border: none;
    padding: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (min-width: 520px) {
	.badges-selector .badge {
    	width: 20%;
    	padding-bottom: 20%;
    }
}

@media (min-width: 770px) {
	.badges-selector .badge {
    	width: 15.2%;
    	padding-bottom: 15.2%;
    }
}
@media (min-width: 900px) {
	.badges-selector .badge {
    	width: 120px;
    	padding-bottom: 120px;
    }
}

.badges-selector .badges-current .badge {
	float: none;
	width: 80px;
	height: 80px;
	padding-bottom: 0;
	margin: 0 5px 0 0;


	-webkit-transition: all 0.15s;
	transition: all 0.15s;
}

.badge-remove {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgb(240, 91, 111);
	cursor: pointer;

}

.badge-remove:before {
	content: "";
	width: 14px;
	height: 2px;
	background: #FFF;
	position: absolute;
	top: 14px;
    left: 8px;
    transform: rotate(45deg);


}

.badge-remove:after {
	content: "";
	width: 14px;
	height: 2px;
	background: #FFF;
	position: absolute;
	top: 14px;
    left: 8px;
	transform: rotate(-45deg);
}

.badge.removed {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	margin: 0 0 0 -80px !important;
}

/* ///////////////////////////////////////// */

.stats-menu-item[data-id='HDG712'] img {
	width: 140% !important;
	margin-left: -10px;
}